html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    --bg-color: #292562;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    font-family: 'montbold';
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: 'montbold';
    text-align: center;
    line-height: 2.7rem;
}

button {
    font-size: 1.5rem;
    border: none;
    color: white;
    border-radius: 10rem;
    font-family: 'montbold';
    text-align: center;
}

p {

    font-family: 'montregular';

    text-align: center;
    font-size: 1.5rem;
    line-height: 2.7rem;
}

a {
    text-decoration: none;
    color: white;
}

#main-2,
#main-3 {
    background: #f9f9f9;
}

p,
h2 {
    width: 80%;
    max-width: 36rem;
    margin: auto;
}

/*

#main-2 p,
#main-2 h2,
#main-3 p,
#main-3 h2{
}*/
/*HEADER*/


header {
    max-height: fit-content;
    background: var(--bg-color);
    padding: 1rem 5rem;
}

header img {
    display: block;
    max-width: 80%;
    margin: auto;
}

/*MAIN*/
/*MAIN 1*/
#main-1 {
    position: relative;
}

#main-1 .wrapper {
    width: 100%;
    position: absolute;
    top: 2rem;
}

#main-1 h1 {
    color: white;
    text-align: center;
    width: 90%;
    max-width: 8em;
    line-height: 1.1;
    margin: auto;
}

#main-1 h1 span {
    color: var(--bg-color);
}

#main-1 img {
    width: 100vw;
    object-fit: cover;
    left: 0;
    top: 0;
}

/*MAIN 2*/

#main-2 {
    max-width: 100%;
    text-align: center;
    padding: 5rem 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-2 h2 {
    margin-bottom: 2rem;
}

#main-2 button {
    max-height: 4rem;
    min-width: 20rem;
    background: #45d492;
    border: none;
    color: white;
    padding: 1rem 1rem;
    margin-top: 3rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-2 img {
    max-width: 2.2rem;
    max-height: 2.2rem;
    margin-left: 1rem;
}

/*MAIN 3*/

#main-3 {

    text-align: center;
    padding: 1.5rem 0;
}

#main-3 img {
    max-width: 13rem;
    object-fit: contain;

}

#main-3 h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #45d492;
}

#main-3 button {
    background: var(--bg-color);
    padding: 1rem 2.7rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

/*footer*/
footer {
    background: var(--bg-color);

    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    text-align: left;
    margin-right: auto;
    flex-shrink: 0;

    font-size: 1rem;
    line-height: 2rem;
}

footer img {
    margin-left: auto;
    max-width: 40%;
}